.filter-playlist {
  background-color: lightgrey;
  padding: 10px;
  border-radius: 5px;
}

.filter-playlist__select {
  padding: 5px;
}

.filter-playlist__label {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0 0 5px;
}
