.home {
    margin-top: 50px
}

.table, th {
    position: relative;
}

.filter-playlist {
    background-color: lightgrey;
    padding: 10px;
    border-radius: 5px;
}
.filter-playlist select {
    margin-bottom: 20px 
}
.filter-playlist button {
    width: 100%;
    background: yellow;
    border: none;
    border-radius: 5px;
    padding: 7px;
}

.arrows img{
    width: 20px;
    position: absolute;
    top: 30%;
    right: 10%
}