.table,
.table th {
  position: relative;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  font-size: 1.2rem;
  gap: 5px;
}

.page-num {
  padding: 8px 15px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  background-color: aqua;
}

.pagination .active {
  background-color: bisque;
}

.playlist-table td:nth-child(1) {
  width: 5%;
}
.playlist-table td:nth-child(2) {
  width: 30%;
}
.playlist-table td:nth-child(3) {
  width: 35%;
}
.playlist-table td:nth-child(4) {
  width: 20%;
}
.playlist-table td:nth-child(5) {
  width: 10%;
}
