#home-table {
  position: relative;
}
.table,
.table th {
  position: relative;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  font-size: 1.2rem;
  gap: 5px;
}

.page-num {
  color: black;
  padding: 8px 15px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 25px;
}

.pagination .active {
  background-color: rgb(239, 232, 232);
  border: 1px solid grey;
}

.playlist-table td:nth-child(1) {
  width: 5%;
}
.playlist-table td:nth-child(2) {
  width: 30%;
}
.playlist-table td:nth-child(3) {
  width: 35%;
}
.playlist-table td:nth-child(4) {
  width: 20%;
}
.playlist-table td:nth-child(5) {
  width: 10%;
}

.page-navigation__per-page {
  position: absolute;
  right: 0;
  bottom: 0;
}

.page-navigation__per-page span {
  border: 1px solid black;
  padding: 10px;
}

.page-navigation__per-page span.active {
  background-color: rgb(175, 159, 159);
}
